@import "tailwindcss";
@import "tw-animate-css";
/* these are necessary styles for vue flow */
@import "@vue-flow/core/dist/style.css";

/* this contains the default theme, these are optional styles */
@import "@vue-flow/core/dist/theme-default.css";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

body {
  font-family: "Nunito", sans-serif;
}
#app {
  font-family: "Nunito", sans-serif;
}

@theme {
  --color-*: initial;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);
  --color-warning: var(--warning);

  --color-highlight: var(--highlight);

  --color-charcoal: var(--color-charcoal);
  --color-carbon: var(--color-carbon);

  --color-input: var(--color-input);
  --color-convolution: var(--color-convolution);
  --color-pooling: var(--color-pooling);
  --color-dense: var(--color-dense);

  --color-mint-200: var(--color-mint-200);
  --color-mint-500: var(--color-mint-500);
  --color-mint-700: var(--color-mint-700);

  --color-taupe-500: var(--color-taupe-500);
  --color-taupe-600: var(--color-taupe-600);
  --color-taupe-700: var(--color-taupe-700);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: rgba(244, 67, 54, 0.08);
  --destructive-foreground: rgb(244, 67, 54);

  --positive: rgba(99, 169, 97, 0.1);
  --positive-foreground: rgb(99, 169, 97);

  --warning: rgb(225, 153, 41);

  --highlight: #3D3C4E;

  --color-1: #999A89;
  --color-2: #869E9D;
  --color-3: #9898A9;
  --color-4: #AA9394;
  --color-6: #A1B1BC;
  --color-7: #8F808B;
  --color-8: #BAABA0;
  --color-9: #B9BAAE;
  --color-10: #ACBDBC;
  --color-11: #79788C;

  --color-charcoal: #343434;
  --color-carbon: #191C1E;

  --color-cuda-100: #ebebe7;
  --color-cuda-200: #d6d7d0;
  --color-cuda-300: #c2c2b8;
  --color-cuda-400: #adaea1;
  --color-cuda-500: #999a89;
  --color-cuda-600: #7a7b6e;
  --color-cuda-700: #5c5c52;
  --color-cuda-800: #3d3e37;
  --color-cuda-900: #1f1f1b;

  --color-mint-100: #ecefeb;
  --color-mint-200: #d9ded7;
  --color-mint-300: #c5cec4;
  --color-mint-400: #b2bdb0;
  --color-mint-500: #9fad9c;
  --color-mint-600: #7f8a7d;
  --color-mint-700: #5f685e;
  --color-mint-800: #40453e;
  --color-mint-900: #20231f;

  --color-taupe-100: #eceae7;
  --color-taupe-200: #d9d6cf;
  --color-taupe-300: #c5c1b7;
  --color-taupe-400: #b2ad9f;
  --color-taupe-500: #9f9887;
  --color-taupe-600: #7f7a6c;
  --color-taupe-700: #5f5b51;
  --color-taupe-800: #403d36;
  --color-taupe-900: #201e1b;

  --color-input: #7D929A;
  --color-convolution: #7F938A;
  --color-pooling: #8E8D9E;
  --color-dense: #9D8A83;
  --color-output: #AD7E8B;

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
